::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(206, 206, 206); 
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 11, 165); 
  /* border-radius: 10px; */
}

/* Handle on hover */
