@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#topbuttons{
    display: flex;

}
#inputBox{
    display: flex;
    justify-content: space-evenly;
   
    gap: 5px;
}
.buttons{
    padding: 10px;
    background-color: aqua;
}
#topGroup{
    display: flex;
    /* flex-direction:  ; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}
#topGroup>h1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
#showAllgroups{
   display: flex;
   justify-content: space-around;
   /* gap:"10px"; */
   flex-wrap: wrap;
   margin: 5px;
   font-family: 'Poppins', sans-serif;
}
#showAllgroups>h1{
    padding: 3px;
    border-radius: 5px;
    margin: "10px";
    margin-bottom: "10px";
    color: white;
    background-color: rgb(41, 107, 195);
    cursor: pointer;
}

#dataparentDiv{
    margin-top: 10px;
    display: flex;
    gap: 10px;

}
#dataGroupsall{
    border: 1px solid rgb(232, 221, 221);
    width: 80%;
    height:450px;
      overflow-y: scroll;
}
#groupMember{
    width: 20%;
   
    border: 1px solid rgb(229, 216, 216);
  
}
/* #groupMember img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
} */
#groupMember>div{
   display:flex;
   align-items: center;
   justify-content:space-between;
   padding: 9px;
   border-bottom:1px solid rgb(194, 194, 194);
   font-family: 'Poppins', sans-serif;
}
#groupMember>h1{
   background-color: rgb(211, 84, 134);

   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}
.titleNames{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:190px
}
#joiningOnly{
    display: flex;
    justify-content: space-around;
}
#imgfromgroup>img{
    margin: auto;
    border-radius: 100px;
}
@media (max-width:560px) {
    #inputBox{
        flex-wrap: wrap;
    }
    #inputcalendar,#dategroup{
        width: 54%;
    }
    #showAllgroups>h1{
      font-size: 14.5px;
    }
    #groupMember{
        display: none;
    }
    #dataGroupsall{
        width: 100%;
    }
    .imgforpe{
        width:40px;
    }
    .titleNames{
    
        width:20px
    }
}