#topbuttons{
    display: flex;

}
#inputBox{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
.buttons{
    padding: 10px;
    background-color: aqua;
}
#topGroup{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    margin-bottom: 15px;
}