#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(241, 255, 254);
    /* border-bottom: 1px solid grey; */
}
#navbar>a>img{
    width: 15%
}
#navbar > div{
    display: flex;
    gap: 10px;
}
@media (max-width:600px){
    #navbar>a>img{
        width: 55%
    }
}